//- New Application modal 
.modal.fade(id="NewAppModalForm", tabindex="-1", role="dialog", aria-labelledby="NewAppModlLbl", aria-hidden="true", data-backdrop="static")
    .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
        .modal-header
        h5.modal-title#NewAppModlLbl ✨New Job Application✨
        button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
        p Please enter the required information below about your latest job application.

        form(action="http://localhost:3000/tracking/manual" method="post")
            hr
            br
            +formInput('Company', 'text', true)
            +formInput('Role', 'text', true)
            +formInput('Date_Applied', 'date', false)

            hr
            button.btn.btn-primary.font-weight-bold(type="submit") Add