html
    head
        title Feed
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    body.d-flex

        include layouts/sidebar

        div.d-flex.flex-column.align-items-center.mt-4 
            h1.font-bold Feed

           

