html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    
    body
        div#search.container
            h1= Page
            form(action="")
                input(type="text", placeholder="Job link/url")
                button Process          
