include utils 

html
    +head('Trackr')

    body.d-flex(style="background-color: #121212; color: white")

        include layouts/sidebar

        div.d-flex.flex-column.align-items-center.mt-4 
            h1.font-bold Index

           
