html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    
    body
        
        div#navbar.d-flex.justify-content-between.border-bottom.py-2.align-items-center
            div#logo.d-flex.justify-content-start.align-items-center
                h4.mx-4.mb-0.font-italic trackr
            div#actions.d-flex.justify-content-end.align-items-center
                a.mx-4(href="/auth/register") Register Here
        
        div.container.border.border-secondary-subtle.mt-3
            form.container.d-flex.flex-column.p-3(action="http://localhost:3000/auth/login", method="post")
                h1 Login
                
                div.form-group
                    input(type="email", name="email", class="form-control", placeholder="Email", required)
                div.form-group
                    input(type="password", name="password", class="form-control", placeholder="Password", required)
                
                button.btn.btn-primary.mt-2.mb-2(type="submit") Login
                a(href="/auth/register") Create Account?
            
                if !response
                else if response.status === 200
                    p.text-success.m-auto= response.msg
                else if response.status !== 200
                    p.text-danger.m-auto= response.msg        

