html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    
    body(style="background-color: #121212; color: white; display: flex; justify-content: center; align-items: center; height: 100vh;") 
        
        include utils

        div.container(style="width: 33%")
            form.container.d-flex.flex-column.p-3(action="http://localhost:3000/auth/login", method="post")
                
                div.d-flex.flex-column.justify-content-center.align-items-center
                    h1 Login
                    h6 Login into your Trackr account

                br

                +formInputRequired('email', 'Email', 'Enter Email', 'email')
                +formInputRequired('password', 'Password', 'Enter Password', 'password')
                
                +primarySubmitBtn('Login')
                
                div.d-flex.justify-content-center.align-items-center
                    p.d-flex Need an account? 
                        +link("Register here", "/auth/register")
            
                if !response
                else if response.status === 200
                    p.text-success.m-auto= response.msg
                else if response.status !== 200
                    p.text-danger.m-auto= response.msg
