include utils

html
    +head('Yay!')
    
    body(style="background-color: #121212; color: white; display: flex; justify-content: center; align-items: center; height: 100vh;") 
       
        div.container(style="width: 33%")
            
            form.container.d-flex.flex-column.p-3(action="http://localhost:3000/auth/register", method="post")
            
                div.d-flex.flex-column.justify-content-center.align-items-center
                    img(src="/TrackrLogoV4.png", alt="", style="background: transparent; transform: scale(0.75)")
                    h1 Register
                    h6 Please register to start tracking

                br
                
                +formInputRequired('email', 'Email', 'Enter Email', 'email')
                +formInputRequired('password', 'Password', 'Enter new Password', 'password')
                +formInputRequired('cpassword', 'Confirm Password', 'Confirm new Password', 'password')
                +formInputRequired('fullname', 'Full Name', 'Enter your full name', 'text')

                +primarySubmitBtn('Register')

                div.d-flex.justify-content-center.align-items-center
                    p.d-flex Already have an account? 
                        +link("Login here", "/auth/login")
            
                if !response
                else if response.status === 200
                    p.text-success.m-auto= response.msg
                else 
                    p.text-danger.m-auto= response.msg        
