mixin diplayActionBtn(text)
    - const funcName = text.split(' ').join('')
    button.btn.btn-light.font-weight-bold.mr-2(onclick=`display${funcName}()` id=`display${funcName}`)= text
    
include utils

html
    +head('Trackr')
    script(src="https://cdn.jsdelivr.net/npm/chart.js")            
    body.d-flex

        include layouts/sidebar

        div.d-flex.flex-column.align-items-center(style="width: 100%; height: 100vh;") 

            div.d-block.align-items-center.border.p-2.mt-4(style="width: 95%;") 
                h2.text-start.px-2 📊 Application Stats 
                hr

                div.d-block.my-4.px-2(data-applicationStatsData=JSON.stringify(applicationStatsData))
                    p Welcome to your job application statistics dashboard! Here, you can track and analyze the progress of your job applications to gain valuable insights into your job search journey. Understanding your application statistics can help you make informed decisions, optimize your approach, and stay motivated throughout your job search process. 
                    
                    div#action-center.d-flex
                        +diplayActionBtn('App Stats')
                        +diplayActionBtn('Heat Map')
                        +diplayActionBtn('App Timeline')

                hr
                br

                canvas#applicationStatsChart.p-2.m-4
    script(src="/js/stats.js")


            